body {
    background-color: snow;
    /* background-image: url(../tn_swimming_pool_1327986510_thumb.jpg); */
}

header {
    background-color: rgb(215, 215, 219);
}

h1,
h2 {
    color: navy;
    position: relative;
    text-align: center;
}

footer {
    background-color: lightyellow;
    color: rgba(5, 137, 31, 0.925);
}

p {
    color: indigo;
}


/*  Table */

table {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #336600;
    border-style: solid;
    color: #009900;
}

table tr {
    height: 100px;
}

table td,
table th {
    border-width: 2px;
    border-color: #4d19197c;
    border-style: solid;
    padding: 3px;
}

#r1c1 {
    background-color: rgba(255, 0, 0, 0.436);
    color: #10014b;
}

#r1c2 {
    background-color: rgba(0, 255, 17, 0.436);
    background-image: url(../tn_swimming_pool_1327986510_thumb.jpg);
}

#r1c3 {
    background-color: silver;
    color: blueviolet;
}

#r1c4 {
    background-color: rgba(105, 85, 239, 0.436);
    background-image: url(../seminyak-villa-05g_1318518206_thumb.jpg);
}

#r2c1 {
    background-color: rgba(244, 175, 78, 0.436);
    color: #886ef1;
}

#r2c2 {
    background-color: rgba(169, 28, 224, 0.436);
    background-image: url(../tn_swimming_pool_1327986510_thumb.jpg);
}

#r2c3 {
    background-color: rgba(251, 181, 181, 0.436);
    color: #0eea07;
}

#r2c4 {
    background-color: rgba(197, 232, 56, 0.436);
    background-image: url(../seminyak-villa-05g_1318518206_thumb.jpg);
}

#r3c1 {
    background-color: rgba(51, 50, 79, 0.436);
    color: #ec0b0b;
}

#r3c2 {
    background-color: rgba(97, 217, 241, 0.436);
    background-image: url(../tn_swimming_pool_1327986510_thumb.jpg);
}

#r3c3 {
    background-color: rgba(241, 172, 69, 0.436);
    color: #d2c9f7;
}

#r3c4 {
    background-color: rgba(60, 231, 177, 0.436);
    background-image: url(../seminyak-villa-05g_1318518206_thumb.jpg);
}

#r4c1 {
    background-color: rgba(177, 13, 166, 0.436);
    color: #dbf080;
}

#r4c2 {
    background-color: rgba(84, 237, 232, 0.436);
    background-image: url(../tn_swimming_pool_1327986510_thumb.jpg);
}

#r4c3 {
    background-color: rgba(232, 95, 95, 0.436);
    color: #0e45f9;
}

#r4c4 {
    background-color: rgba(192, 249, 196, 0.436);
    background-image: url(../seminyak-villa-05g_1318518206_thumb.jpg);
}


/* table thead {
    background-color: #CCFF99;
} */